

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  CBT - MathHub Online Examination System</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="src/css/assessment.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- VueJS CDN version 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Axios CDN Link -->
   <script src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js"></script>
 
    <!-- QuillJS with KaTex Ends -->
    <noscript>Sorry, your browser does not support JavaScript!</noscript>

<!-- Security Watermark CSS Starts  -->
 <style>
  #QuestionPool::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="24" fill="rgba(64, 64, 64, 0.5)" transform="rotate(-45 100 100)"><?=$candidateId;?></text></svg>') repeat;
      opacity: 0.4;
      pointer-events: none; /* Ensure watermark is not interactive */
      z-index: -1; /* Ensure watermark is behind other content */
  }
  .test-qpip-holder {
      position: relative; /* Ensure the pseudo-element is positioned relative to the QuestionPool div */
      min-height: 200px; /* Adjust height as needed */
  }
</style>
<!-- Security Watermark CSS Ends  -->

  </head>

<body class="actual-exam-ui">
<!-- iMOES - MathHub Online Examination System Starts -->
<div id="imoes">

   <!-- Page Loader Starts Here -->
   <div class="overlay" v-if="isLoading">
    <div class="cv-spinner">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner-text">Loading...</div>
      </div>
    </div>
  </div>
  <!-- Page Loader Ends Here -->

  <!-- Question Paper Modal Starts -->
  <div class="modal fade" id="QPModal" tabindex="-1" role="dialog" aria-labelledby="QPModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="QPModalLabel">Question Paper</h4>
        </div>
        <div class="modal-body">
          <div id="QuestionPaper" class="table-responsive" style="border:none;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Question Paper Modal Ends -->

    <!-- =============================== navbar ======================== -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand text-uppercase" style="font-size:12px;" title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="right">
              <span id="examName">{{appHeader.examName}}</span>
          </a>  
          <button type="button" class="btn btn-sm visible-xs" style="margin:3px 12px;float:right;" @click="toggleNav">
              <img class="img-circle" src="https://abstractdil.github.io/Front-End-Projects/PortalManagement/MHBC/MathHubCombinedLogo.png" loading="lazy" title="Candidate Photo" width="34"
              height="34" />
          </button>
      </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="desktop-timer" style="margin-right:8px;">
              <button class="btn btn-primary btn-sm" style="margin: 8px 0;" @click="toggleFullScreen">
                <span :class="isFullScreen ? 'glyphicon glyphicon-resize-small' : 'glyphicon glyphicon-fullscreen'"></span>
                <span v-if="!isFullScreen"> Enter Full Screen</span>
                <span v-else> Exit Full Screen</span>
              </button>
              
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- =============================  navbar ends ========================== -->

    <div id="page" class="u-mob-sidebar">
  <!-- ========================= Left Box Starts Here ============================ -->
      <div class="left-box" style=" font-size: 12px !important;">
      <!-- show section names -->
      <div class="panel panel-default" style="margin-bottom: 0px !important;border-bottom:none;">
        <div class="panel-heading" style="padding:3px 12px;background-color: #fff;">
            <div style="display:flex; justify-content: space-between; align-items: end;">
              <button class=" btn btn-default btn-sm" style="pointer-events: none;">
              <b style="text-transform: uppercase"> <span class="glyphicon glyphicon-info-sign"></span> Sections :</b> 
              </button>
              
              <!-- Re-attempt question button starts -->
              <div class="re-attempt-question-btn">
                <label class="switch">
                  <span class="switch-label-text">Re-attempt Questions</span>
                  <input type="checkbox" v-model="isReattempt" @change="updateReattemptInURL"/>
                  <span class="slider"></span>
                </label>
              </div>
              <!-- Re-attempt question button ends -->

              </div>
            </div>
      </div>
      <!-- ends sections names -->

    
    <!-- Tab Sections Starts -->  
      <div class="panel panel-default sections" style="padding: 0px 12px;border-bottom:none !important;">
        <!-- Tabs sections starts -->
        <ul class="nav nav-pills" id="sections-list" v-if="exam_module && exam_module.sections">
          <li
          v-for="(section, key) in exam_module?.sections" :key="key"
          :class="{ active: currentSectionKey === key }"
            role="presentation"
            >
            <a
            href="javascript:void(0)"
            class="nav-link"
            @click.prevent="switchSection(key)"
            :data-section-id="key"
            >
              {{ section.sec_name }}
            </a>
          </li>
        </ul>
        
        <p v-else>Loading sections...</p>
      </div>
    <!-- Tab Sections Ends -->


      <!-- ==================== Show  Question starts =========================== -->

      <div class="question-holder" v-if="currentQuestionData">
        <div class="panel panel-default" style="border:none !important;">
          <div class="panel-body table-responsive">
      
          <!-- Question Holder Starts -->
          <div class="test-qpip-holder">
            <div class="panel panel-default question-panel">
              <div class="panel-heading">
                  <h3 class="panel-title">Question No.{{ currentQuestionIndex + 1 }}</h3>
              </div>
              <div class="panel-body w-mark" style="position: absolute; top:40px; left: 0; right: 0; bottom:25px; overflow-y:scroll;">

                <!-- Question -->
                <div class="question-text mb-3" v-html="currentQuestionData.question"></div>
          
                <!-- Options -->
                
                 <!-- <div class="question-options">
                  <div
                    class="radio"
                    v-for="option in currentOptions"
                    :key="option.index"
                    :class="[
                      isAnswerSubmitted ? 
                        (option.index === currentAnswer.correct ? 'bg-correct text-white' :
                        option.index === currentAnswer.selected ? 'bg-incorrect text-white' : '') : ''
                    ]"
                    style="padding: 6px; border-radius: 4px;"
                  >
                    <label class="d-block">
                      <template v-if="!isAnswerSubmitted">
                        <input
                          type="radio"
                          :value="option.index"
                          v-model="userAnswers[currentQuestionIndex]"
                          :name="'q' + currentQuestionIndex"
                          class="me-2"
                          @change="handleAnswerSubmit(currentQuestionIndex, option.index)"
                        />
                      </template>
                      <span v-html="option.content"></span>
                    </label>
                  </div>
                </div>  -->

                <div class="question-options">
                  <div
                    class="radio d-flex align-items-center justify-content-between"
                    v-for="option in currentOptions"
                    :key="option.index"
                    :class="[
                      isAnswerSubmitted
                        ? option.index === currentAnswer.correct
                          ? 'bg-correct text-white'
                          : option.index === currentAnswer.selected
                          ? 'bg-incorrect text-white'
                          : ''
                        : ''
                    ]"
                    style="padding: 8px 8px 12px 28px; border-radius: 4px; margin-bottom: 8px;"
                  >
                    <div class="d-flex align-items-center" style="flex-grow: 1;cursor: pointer;">
                      <!-- Radio (only shown if not submitted) -->
                      <template v-if="!isAnswerSubmitted">
                        <input
                          type="radio"
                          :value="option.index"
                          v-model="userAnswers[currentQuestionIndex]"
                          :name="'q' + currentQuestionIndex"
                          class="me-2"
                          @change="handleAnswerSubmit(currentQuestionIndex, option.index)"
                        />
                      </template>
                      <span v-html="option.content" class="ms-1"></span>
                    </div>
                
                    <!-- Icon shown only after submission -->
                    <div style="margin-left: 12px;">
                      <span
                        v-if="option.index === currentAnswer.correct"
                        class="glyphicon glyphicon-ok text-white"
                        style="font-size: 14px;"
                      ></span>
                      <span
                        v-else-if="option.index === currentAnswer.selected"
                        class="glyphicon glyphicon-remove text-white"
                        style="font-size: 14px;"
                      ></span>
                    </div>
                  </div>
                </div>
                
                
                

                 <!-- Solution Starts -->
      
            <div v-if="isAnswerSubmitted && currentQuestionData.solution_text" class="panel panel-default solution">
              <div class="panel-heading">
                <h4 class="panel-title" @click="toggleSolution" style="cursor: pointer;">
                  <span class="glyphicon" :class="showSolution ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                  View Solution
                </h4>
              </div>
              <div class="panel-body" v-show="showSolution">
                <div v-html="currentQuestionData.solution_text"></div>
              </div>
            </div>
            <!-- Solution Ends -->

              </div>
            </div>

            <!-- Show Solution Button -->
             

          </div>
          <!-- Question Holder Ends -->
        
          </div>
        </div>
      </div>
      
      <!-- ======================== show question ends =========================-->


      <!-- Main Footer Starts  -->
      <div class="footer">
        <div class="row">
          <div class="col-md-12">
            <!-- Previous Button Left Side  -->
            <div class="float-left">
              <button type="button" class="btn btn-warning" id="previousBtn" @click="goToPreviousQuestion" :disabled="currentQuestionIndex === 0">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="previous-btn-text">Previous</span>
              </button>
              <!-- <button type="button" class="btn btn-primary btn-sm mob-mark-for-review-btn" id="markReviewBtnMob">
                Mark &amp; Next
              </button> -->
            </div>
            <!-- <div class="float-left">
              <button type="button" class="btn btn-default btn-sm clear-btn mx-5" id="clearResBtn">
                Clear Response
              </button>
              <button type="button" class="btn btn-default btn-sm mob-clear-btn mx-5" id="clearResBtnMob">Clear</button>
            </div> -->
          
            <!-- Previous Button Left Side Ends -->
            <!-- Save & Next Button Right Side -->

            <div class="save-next-btn">
            <!-- <button type="button" class="btn btn-warning btn-sm" id="previousBtn">
              <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="previous-btn-text">Previous</span>
              </button> -->
              <button type="button" class="btn btn-primary" id="saveNextBtn" @click="goToNextQuestion" :disabled="currentQuestionIndex === questionList.length - 1">
                Next
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
            <!-- Save & Next Button Right Side Ends -->
          </div>
        </div>

        <!-- Mark For Review -->

        
      </div>
    <!-- Main Footer Ends -->
    
      </div>
    
      <!-- ========================= Left Box Ends Here ============================ -->

      <!-- =====================  Right Box Starts Here ====================== -->
      
          <!--============ sidebar starts ================= -->
          <div class="sidenav" :class="{ 'sidenav-active': isSidenavVisible, 'sidenav-hidden': !isSidenavVisible }">
            <div class="col-xs-12 col-sm-12">
              <!-- User name and Photo -->
              <div class="media user-details" style="margin-top:62px !important">
                <div class="media-left">
                  <div style="margin-top:0px;margin-left:3px;">
                    <img
                      class="media-object img-thumbnail user-img"
                      src="https://abstractdil.github.io/Front-End-Projects/PortalManagement/MHBC/MathHubCombinedLogo.png"
                      alt="MathHub Combined"
                      loading="lazy"
                      title="Candidate Photo"
                    />
                  </div>
                </div>

                <div class="media-body">
                  <h5
                    class="media-heading"
                    style="margin-top:2px;font-size:12px !important"
                  >
                    <span style=" font-size: 12px !important;"> <b>Powered By:</b> MathHub Combined </span>
                  </h5>
                  <h5 style=" font-size: 12px !important;">
                    <b>Exam ID :</b> <span> {{examId}} </span>
                  </h5>
                  <h5 style=" font-size: 12px !important;">
                    <b>Subject :</b> <span>{{appHeader.examName}}</span>
                  </h5>
                </div>
              </div>
              <!-- User name and Photo ends -->

              <hr style="margin-top:2px;" />

              <!-- Powered By -->
              <!-- Powered By -->
              <div class="poweredby" style="margin-top:8px;">
                <div style="background-color:#555; padding:8px;" class="text-center">
                  <img
                    class="img-rounded"
                    src="https://abstractdil.github.io/Front-End-Projects/PortalManagement/iMOES/iMOES.png"
                    width="140"
                    alt="iMOES - MathHub Online Examination System"
                    loading="lazy"
                    title="iMOES - MathHub Online Examination System"
                  />
                </div>
              </div>

              <!-- Powered by Ends -->

              <!-- Load Question numbering Tab Content -->
              <div class="question-no-panel" v-if="exam_module && currentSection" style="margin-top:20px;">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" style="font-weight: 700; font-size:12px;">
                      Section:
                      <span class="sectionName">{{ sectionName }}</span>
                    </h3>
                  </div>
              
                  
                  <!-- <div class="panel-body" style="max-height: 22em; overflow-y: auto;">
                    <div class="container-fluid">
                      <div class="row">
                        <div
                          v-for="qNo in currentSectionQuestions"
                          :key="qNo"
                          class="col-6 col-sm-4 col-md-2  d-flex justify-content-center"
                        >
                          <button
                            class="btn btn-sm"
                            :class="[
                              userAnswers[qNo - 1] ? 'btn-success' : 'btn-outline-secondary',
                              currentQuestionIndex + 1 === qNo ? 'btn-primary' : ''
                            ]"
                            @click="goToQuestion(qNo - 1)"
                          >
                            {{ qNo }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="panel-body" style="max-height: 22em; overflow-y: auto;">
                    <div class="questionNumber clearfix">
                      <div
                        v-for="qNo in currentSectionQuestions"
                        :key="qNo"
                        class="col-1-5"
                      >
                      <button
                      class="btn btn-sm qbtn"
                      :class="{
                        'btn-primary': currentQuestionIndex + 1 === qNo,
                        'marked': userAnswers[qNo - 1] && currentQuestionIndex + 1 !== qNo,
                        'not-visited': !userAnswers[qNo - 1] && currentQuestionIndex + 1 !== qNo
                      }"
                      @click="goToQuestion(qNo - 1)"
                    >
                      {{ qNo }}
                    </button>
                    
                      </div>
                    </div>
                  </div>
                  

                  </div>
                </div>
              </div>
              
              <!-- End  Question numbering Tab content -->
              
  
              <!-- Sidebar footer buttons Starts -->
              <div class="footer-one">
                <div class="row">
                  <!-- Question Paper Button -->
                  <div class="col-xs-6">
                    <button
                      type="button"
                      class="btn btn-info"
                      style="margin-bottom:3px;font-size:12px;"
                      data-toggle="modal"
                      data-target="#QPModal"
                    >
                      <span class="glyphicon glyphicon-book"></span>
                       Question Paper
                    </button>
                  </div>
              
                  <!-- Share Test Button -->
                  <div class="col-xs-6">
                    <button
                      type="button"
                      class="btn btn-warning"
                      style="margin-bottom:3px;font-size:12px;"
                      data-toggle="modal"
                      data-target="#InsModal"
                    >
                      <span class="glyphicon glyphicon-share"></span> Share this exam
                    </button>
                  </div>
                </div>
              </div>
              
              <!-- Sidebar footer buttons Ends -->

  
          </div>
    </div>
        <!--========= sidebar ends ========-->
    <!-- =====================  Right Box Ends Here ====================== -->


  <!-- Sidenav Toggle Starts  -->
    <button type="button" class="btn btn-sm btn-info toggle-sidenav" @click="toggleNav"  :style="{ right: isSidenavVisible ? '325px' : '14px' }">
      <span class="glyphicon"  :class="isSidenavVisible ? 'glyphicon-remove' : 'glyphicon-menu-hamburger'"
    ></span>
    </button>
   <!-- Sidenav Toggle Ends  --> 

 


</div>
<!-- iMOES - MathHub Online Examination System Ends -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
</script>
<script src="src/js/assessment.js"></script>
</body>
</html>